@font-face {
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/icomoon.woff) format('woff');
}

.file-icon {
	font-family: "icomoon";
	text-align: center;
	font-size: 16px;
	width: 20px;
	text-shadow: none;
	vertical-align: middle;
	color: #94a3a7;
}

#open-files-container .file-icon {
	display: inline-block;
	width: 28px;
	padding-top: 2px;
}

#project-files-container a {
	padding-left: 10009px;
}
