@font-face {
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/icomoon_v2.woff) format('woff');
}
.file-icon {
	font-family: "icomoon";
	text-align: center;
	font-size: 16px;
	width: 20px;
	text-shadow: none;
	text-decoration: none;
	vertical-align: middle;
	color: #94a3a7;
	display: inline-block;
}
#working-set-list-container .file-icon {
	padding-right: 2px;
}
#project-files-container a {
	padding-left: 9px;
}